[Desktop Entry]
Version=1.0
Type=Application
Name=AI Dream
Comment=Open AI Dream in its application window
TryExec=/home/edward/Development/ai-dream/open-ai-dream-app
Exec=/home/edward/Development/ai-dream/open-ai-dream-app
Path=/home/edward/Development/ai-dream
Terminal=false
StartupWMClass=AiDream
Categories=Development;
